*** DATABASE ***
nodes_file=
edges_file=
*** END ***
*** QUERIES ***
mth=algebra rpq=(likes.hasCreator) fp=3 //Example of Algebra
mth=dfs rpq=(likes.hasCreator) fp=3 aut=y //Example of DFS with automaton
mth=dfs rpq=(likes.hasCreator) fp=3 aut=n //Example of DFS without automaton
mth=bfs rpq=(likes.hasCreator) fp=3 aut=y //Example of BFS with automaton
mth=bfs rpq=(likes.hasCreator) fp=3 aut=n //Example of BFS without automaton
*** END ***